<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>BehavioSec Demo</title>

	<style>
		.report p{
			padding: 0px;
			margin: 0px;
			text-align: center;
		}
	</style>

</head>
<body>
<!-- Uncomment after moving to main demo -->
 <div th:replace="fragments/header"></div>
	<form th:action="@{/home/passwordChange}" method="get">
		<button class="btn btn-md btn-warning btn-block"
			type="Submit">Password Change</button>
	</form> 
<!--  <form th:action="@{/home/message}" method="get">
		<button class="btn btn-md btn-warning btn-block"
			type="Submit">Test Form Submission</button>
	</form> -->	
	<div th:replace="fragments/menu"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2>Welcome</h2>
			</div>
		</div>
	</div>
	<span th:if="${adminMessage != null}">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel-group" style="margin-top: 40px">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<span th:utext="${userName}"></span>
						</div>

						<div class="report" >
							<h3 th:utext="${adminMessage}"></h3>

							<ul>

						<li th:utext="${score}"></li>
						<li th:utext="${risk}"></li>
						<li th:utext="${pocAnomaly}"></li>
						<li th:utext="${deviceChange}"></li>
						<li th:utext="${ipChange}"></li>
						<li th:utext="${bot}"></li>
						<li th:utext="${replay}"></li>
						<li th:utext="${remoteAccess}"></li>
						<li th:utext="${isTrained}"></li>
							</ul>
					</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	</span>
	<form th:action="@{/logout}" method="get">
		<button class="btn btn-md btn-danger btn-block" name="registration"
			type="Submit">Logout</button>
	</form>
</body>
</html>